<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>心理诊断注册界面</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
<script language="JavaScript" th:src="@{/js/jquery2.js}"></script>
<script th:src="@{/js/cloud.js}" type="text/javascript"></script>
<script language="javascript" th:src="@{/js/js.js}"></script>
<script>
function checkUserName(){
	var userName = $("input[name='userLoginName']").val();
	var result = false;
	$.ajax({
		  type: "GET",
		  async: false,
		  url: "/hospital/user/checkName/"+userName,
		  success: function(data){
			  if(data == true){
				  $("#checkName").css("color","red").text("已被使用");
			  }else{
				  $("#checkName").css("color","green").text("可以使用");
				  result = true;
			  }
		  }
	});
	return result;
}
</script>
</head>

<body style="background-color:#1c77ac; background-image: background-repeat:no-repeat; background-position:center top; overflow:hidden;">
<div id="mainBody">
  <div id="cloud1" class="cloud"></div>
  <div id="cloud2" class="cloud"></div>
</div>
<div class="logintop"> <span>欢迎登录心理诊断后台</span>
  <ul>
    <li><a href="#">返回首页</a></li>
  </ul>
</div>
<div class="loginbody"> <!-- <span class="systemlogo"></span> -->
  <div class="loginbox">
  	<form th:action="@{/user/register}" method="post" onsubmit="return checkUserName()">
    <ul>
      <li>
        <input name="userLoginName" type="text" class="loginuser" value="shengjingbin" onchange="checkUserName()" />
        <span id="checkName" style="color: red"></span>
      </li>
      <li>
        <input name="userPassword" type="password" class="loginpwd" value="123456" />
      </li>
      <li>
        <input  type="password" class="loginpwd" value="123456" />
      </li>
      <li>
        <input name="userName" type="text" class="loginuser" value="神经病" />
      </li>
      <li>
        <input name="userSex" type="radio" value="1" checked="checked"/>男
        <input name="userSex" type="radio" value="2" />女
      </li>
      <li>
      
        <input name="userIdcard" type="text" class="loginuser" value="4315689556598" />
      </li>
      <li>
        <input type="submit" class="loginbtn" value="注册" />
      </li>
    </ul>
    </form>
  </div>
</div>
<div class="loginbm">版权所有： 阳光心健 © Copyright 2014 - 2015.</div>
</body>
</html>
