<!DOCTYPE html>
<html>
    <script>
    function insert() {
            $.ajax({
                type: "POST",//方法
                url: "/hospital/demo/add", 
                data: $('#form1').serialize(),
                success: function () {
                 alert("添加成功") 
                }
            });
    }
    </script>
    <head>
        <meta charset="utf-8">
        <title>
            用户管理-添加
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" th:href="@{/css/x-admin.css}" media="all">
    </head>
    
    
    <body>
        <div class="x-body">
            <form class="layui-form" th:action="@{/view/user_management_add}" onsubmit="return false" method="post" id="form1">
                <div class="layui-form-item">
                    <label for="L_email" class="layui-form-label">
                        <span class="x-red">*</span>用户名</label>
                    <div class="layui-input-inline">
                        <input type="text"  name="userLoginName" 
                         class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>必填
                    </div>
                </div>
                
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>密码
                    </label>
                    <div class="layui-input-inline">
                        <input type="password" id="L_pass" name="userPassword" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        6到16个字符
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                        <span class="x-red">*</span>用户姓名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_repass" name="userName" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_username" class="layui-form-label">
                        <span class="x-red">*</span>用户性别</label>
                    <div class="layui-input-inline">
                        <input type="text" id="username" name="userSex"  class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_username" class="layui-form-label">
                        <span class="x-red">*</span>身份证号码
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_username" name="userIdcard"  class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" type="submit" onclick="insert()">
                        增加
                    </button>
                </div>
            </form>
        </div>
        <script th:src="@{/js/jquery2.js}" charset="utf-8"></script> 
        <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
        <script th:src="@{/js/x-layui.js}" charset="utf-8"></script> 
		<script th:src="@{/js/js.js}" charset="utf-8"></script>
    </body>

</html>